/* * {
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 50px;
    font-family: 'Oswald', sans-serif;
    width: 1440px;
}

.block1 {
    background-color: #F2F2F2;
    width: 570px;
    height: 374px;
    margin: 40px;
}

.block2 {
    background-color: #F2F2F2;
    width: 570px;
    height: 374px;
    margin: 40px;
}

.circleheader {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.circle {
    background: #68B738;
    border-radius: 50%;
    height: 100px;
    position: relative;
    width: 100px;
}

.circle-content {
    hyphens: auto;
    text-align: center;
}

.text {
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.loss {
    font-size: xx-large;
}

.gain {
    font-size: xx-large;
}

.slim {
    padding: 100px;
}

.pro {
    padding: 100px;
}

.arrow_2 {
    cursor: pointer;
    position: relative;
    width: 80px;
    height: 50px;
    margin: 20px auto;
}

.arrow_2 div {
    position: relative;
    top: 20px;
    width: 90px;
    height: 10px;
    background-color: #000000;
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
    left: 0;
    display: block;
}

.arrow_2 div::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: 11px;
    right: -8px;
    background-color: #000000;
    box-shadow: 0 3px 5px rgb(0 0 0 / 20%);
    transform: rotate(-45deg);
}

.arrow_2 div::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 10px;
    top: -11px;
    right: -8px;
    background-color: #000000;
    transform: rotate(45deg);
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
} */

* {
	padding: 0;
	margin: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 40px;
	margin: 50px;
	font-family: 'Oswald', sans-serif;
	width: 1440px;
}

.block1,
.block2 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: #f2f2f2;
	width: 570px;
	height: 374px;
	padding: 52px;
}

.circle-content {
	display: flex;
	align-items: center;
}

.text {
	font-family: Arial, Helvetica, sans-serif;
	font-family: Arial;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0em;
	text-align: left;
	margin: 39px 0 23px;
}

.loss,
.gain {
	width: 264px;
	height: 36px;
	font-family: Oswald;
	font-size: 36px;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: center;
}

.gain {
	font-size: xx-large;
}

.pro,
.slim {
	display: flex;
	align-items: center;
	width: 264px;
	height: 30px;
	font-family: Oswald;
	font-size: 20px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: center;
}

.arrow_2 {
	width: 24px;
	height: 12px;
	background-image: url(../images/icon.png);
	background-repeat: no-repeat;
	background-size: contain;
	margin-left: 28px;
}